
body {
    font-family: Arial, sans-serif;
    padding-top: 120px;
    background-color: #d1a573ce!important;
}

#Container26 {

    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    margin: 0 auto;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 8px;
    background-color: #fff; 
}

.form-group {
    margin-bottom: 20px;
}

input[type="text"] {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

a {
    display: block;
    margin-top: 20px;
    text-decoration: none;
    color: blue;
}
