body {
    font-family: Arial, sans-serif;
    padding-top: 140px;
    background-color: #fdead5 !important;
}

h1 {
    background-color: #ffffff !important;
    color: #ffffff;
    padding: 10px;
}

h2 {
    font-size: 30px; 
    background-color: #333;
    margin-top: 20px;
    color: #fff;
    padding: 10px;
    text-align: center;
    -webkit-text-fill-color: rgb(255, 255, 255);
}


table {
    width: 100%;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 8px;
    text-align: left;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #e0e0e0;
}

th {
    background-color: #333;;
    color: #fff;
}
.formulario {
    width: 50%;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

form input[type="text"],
form input[type="number"] {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 3px;
}

form input[type="submit"] {
    background-color: #333;;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

form input[type="submit"]:hover {
    background-color: #0056b3;
}

h1 {
    text-align: center;
    background-color: #333;;
    color: #fff;
    padding: 10px;
    margin-top: 0;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 8px;
    text-align: left;
}