body {
    font-family: Arial, sans-serif;
    background-color: #ffeedcce !important;
    margin: 0;
    padding-top: 100px;
}

.content-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 70vh;
}

.error-content {
    text-align: center;
    padding: 20px;
    border-radius: 8px;
    background-color: #ffeedcce;
}

h1 {
    color: #333;
    margin-bottom: 10px;
}

p {
    margin-top: 10px;
}

.background-image {
    background-image: url('/Error/img/erro.png'); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
